@charset "UTF-8";
/* Import de archivos con definición de variables */
/* Variables: colores */
/* Variables: tamaños */
html, body {
  width: 100%;
  overflow-x: hidden; }

body {
  /* ESTILO GENERAL PARA TODO EL SITIO */
  background-image: linear-gradient(to bottom, #FFDDDD, #FFFFFF);
  /* BARRA DE NAVEGACIÓN */
  /* PARALLAX (en todas las secciones excepto en index.html) */
  /* SECTION */
  /* FOOTER */
  /* MEDIA QUERIE: VISTA EN PC */
  /* MEDIA QUERIE: VISTA MOBILE */ }
  body h1 {
    color: #C12626;
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    margin: 0px;
    font-family: 'Merienda One', cursive; }
  body h2 {
    color: #C12626;
    font-size: 34px;
    text-align: center;
    font-weight: 600;
    margin: 30px 0px;
    font-family: 'Merienda One', cursive; }
  body h3 {
    color: #F67171;
    font-size: 25px;
    text-align: left;
    font-weight: 550;
    margin: 30px 0px;
    font-family: 'Merienda One', cursive; }
  body h4 {
    color: #F67171;
    font-size: 18px;
    text-align: left;
    font-weight: 550;
    margin: 20px 0px; }
  body p {
    color: black;
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
    margin: 10px 0px; }
  body p {
    text-indent: 15px; }
  body .resaltado {
    font-weight: 650; }
  body .listaSubtitulo {
    color: #F67171;
    font-size: 18px;
    font-weight: 550;
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
  body .listaContenido1 {
    color: black;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
  body .listaContenido2 {
    color: black;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
  body .listaSubtitulo::before {
    content: "\27A2";
    color: #F67171;
    padding-right: 5px; }
  body .listaContenido1::before {
    content: "\276F";
    color: #C12626;
    padding-right: 5px; }
  body .listaContenido2::before {
    content: "\276F";
    color: #F67171;
    padding-right: 5px; }
  body .contenedor .navbar {
    background-color: #FACECE;
    font-size: 16px; }
  body .contenedor .dropdown-menu {
    background-color: #FACECE; }
    body .contenedor .dropdown-menu .dropdown-item {
      font-size: 16px; }
  body .parallax {
    /* The image used */
    background-image: url("../assets/img/panoramica.jpg");
    /* Set a specific height */
    height: 450px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box modeling */
    margin-bottom: 50px; }
    body .parallax .parallax__tituloSeccion {
      padding-top: 10%;
      text-align: center; }
      body .parallax .parallax__tituloSeccion .parallax__tituloSeccion--titulo {
        margin-top: 30px;
        text-shadow: 2px 2px #FFFFFF; }
  body .container {
    /* Sección index.html */
    /* Sección quien_soy.html */
    /* Sección servicios_que_se_brindan.html */
    /* Sección nuestros_horarios.html */
    /* Sección contacto.html */
    /* Sección contacto.html , gracias.html */ }
    body .container .tituloSitio {
      margin: 70px 0px 30px 0px; }
    body .container .imagenesJoseph {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      body .container .imagenesJoseph .imagenesJoseph__imagen {
        margin: 20px 10px;
        transition: 1s; }
      body .container .imagenesJoseph .imagenesJoseph__imagen:hover {
        transform: scale(1.1); }
    body .container .beneficiosPilates {
      margin-bottom: 20px; }
    body .container .beneficiosConsejo {
      background-color: #F67171;
      text-align: center;
      letter-spacing: 2px;
      word-spacing: 4px;
      margin: 20px 0px 10px 0px;
      transform: rotate(8deg);
      transition: 1s; }
    body .container .beneficiosConsejo:hover {
      transform: scale(1.2); }
    body .container .videoYoutube {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 20px; }
    body .container .lauraBarrios {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      body .container .lauraBarrios .lauraBarrios__imagen {
        margin-top: 30px;
        transition: 1s; }
      body .container .lauraBarrios .lauraBarrios__imagen:hover {
        transform: scale(1.1); }
    body .container .cuadroContenedor {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 30px; }
      body .container .cuadroContenedor .cuadroContenedor__cuadroInfo {
        background-color: #FACECE;
        border: solid 1px black;
        border-radius: 30px;
        padding: 10px;
        margin: 30px;
        transition: 1s; }
        body .container .cuadroContenedor .cuadroContenedor__cuadroInfo .cuadroContenedor__cuadroInfo--imagen {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin: 10px 0px; }
        body .container .cuadroContenedor .cuadroContenedor__cuadroInfo .cuadroContenedor__cuadroInfo--titulo {
          text-align: center;
          font-size: 18px;
          color: #C12626;
          margin: 10px 0px; }
      body .container .cuadroContenedor .cuadroContenedor__cuadroInfo:hover {
        transform: scale(1.1); }
    body .container .imgMetodo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px 0px; }
      body .container .imgMetodo .imgMetodo__imgServicio {
        transition: 1s; }
      body .container .imgMetodo .imgMetodo__imgServicio:hover {
        transform: scale(1.5); }
    body .container .tabla {
      width: 100%;
      border: solid 2px black;
      text-align: center;
      font-size: 16px; }
      body .container .tabla .tabla__encabezado {
        border: solid 2px black;
        background-color: #FACECE; }
        body .container .tabla .tabla__encabezado .tabla__encabezado--titulo {
          text-align: center;
          margin: 0px; }
    body .container .telefonoMail__item {
      margin-bottom: 10px; }
    body .container .redesSociales {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
      body .container .redesSociales .redesSociales__item {
        margin-right: 20px;
        transition: 1s; }
      body .container .redesSociales .redesSociales__item:hover {
        transform: scale(1.3); }
    body .container form {
      font-size: 16px; }
      body .container form .itemForm {
        width: 100%;
        margin-bottom: 5px; }
      body .container form .botones {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }
        body .container form .botones .boton {
          padding: 10px;
          margin: 15px;
          background-color: #F67171;
          border: none;
          border-radius: 5px;
          transition: 1s; }
        body .container form .botones .boton:hover {
          transform: scale(1.3); }
    body .container .ubicacion__item {
      margin-bottom: 10px; }
    body .container .contenedorBotonVolver {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      body .container .contenedorBotonVolver .contenedorBotonVolver__boton {
        color: black;
        text-decoration: underline;
        padding: 10px 20px;
        margin: 15px;
        background-color: #F67171;
        border: none;
        border-radius: 5px;
        transition: 1s; }
      body .container .contenedorBotonVolver .contenedorBotonVolver__boton:hover {
        transform: scale(1.3); }
  body .container-fluid .footerBootstrap {
    background-color: #FACECE;
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 10px; }
    body .container-fluid .footerBootstrap .footerBootstrap__imagen {
      display: flex;
      flex-direction: row;
      justify-content: center; }
    body .container-fluid .footerBootstrap .footerBootstrap__itemFooter {
      text-indent: 0px;
      font-weight: 550; }
    body .container-fluid .footerBootstrap .footerBootstrap__contenido {
      text-indent: 0px; }
    body .container-fluid .footerBootstrap .footerBootstrap__enlace {
      color: black;
      text-decoration: underline; }
  body .contenedor .hechoPor {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background-color: #F67171;
    color: black; }
  @media only screen and (min-width: 768px) {
    body {
      /* Sección nuestros_horarios.html */ }
      body .tabla__mobile {
        display: none; } }
  @media only screen and (max-width: 768px) {
    body {
      /* BARRA DE NAVEGACIÓN */
      /* PARALLAX */
      /* SECTION */
      /* FOOTER */ }
      body h1 {
        font-size: 34px;
        text-align: center; }
      body h2, body h3 {
        font-size: 25px;
        text-align: center;
        margin: 20px 0px; }
      body .listaSubtitulo {
        text-align: center; }
      body .contenedor .logoNav__mobile {
        display: none; }
      body .parallax {
        background-image: url("../assets/img/panoramicaMobile.jpg");
        height: 250px;
        margin-bottom: 30px; }
        body .parallax .parallax__tituloSeccion {
          padding-top: 10%; }
          body .parallax .parallax__tituloSeccion .parallax__tituloSeccion--titulo {
            margin-top: 15%; }
      body .container {
        /* Sección index.html */
        /* Sección quien_soy.html */
        /* Sección servicios_que_se_brindan.html */
        /* Sección nuestros_horarios.html */
        /* Sección contacto.html */ }
        body .container .imagenesJoseph__imagen--mobileNo {
          display: none; }
        body .container .beneficiosConsejo {
          margin: 40px 30px 10px 30px; }
        body .container .lauraBarrios__imagen {
          height: 402px;
          width: 311px; }
        body .container .imgMetodo {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin: 20px 0px; }
        body .container .imgMetodo__imgServicio {
          margin-bottom: 10px; }
        body .container .imgMetodo__imgServicio--mobileNo {
          display: none; }
        body .container .tabla__PC {
          display: none; }
        body .container .tabla__mobile {
          margin: 0px 30px 10px 30px; }
        body .container .redesSociales {
          display: flex;
          flex-direction: row;
          justify-content: center; }
          body .container .redesSociales .redesSociales__item {
            margin-right: 0px;
            margin: 10px; }
        body .container form .botones {
          display: flex;
          flex-direction: row;
          justify-content: center; }
      body .container-fluid .footerBootstrap {
        padding-top: 10px;
        text-align: center; }
        body .container-fluid .footerBootstrap .footerBootstrap__imagen--mobile {
          height: 150px;
          width: 210px; }
        body .container-fluid .footerBootstrap .footerBootstrap__itemFooter {
          text-align: center;
          margin-top: 20px; }
        body .container-fluid .footerBootstrap .footerBootstrap__contenido {
          text-align: center;
          margin-bottom: 0px; } }
