/* Import de archivos con definición de variables */

@import "colores";
@import "tamanios";

body {

    .contenedor {
        .navbar {
            background-color: $mostaza;
            font-size: $xsmall;
            .dropdown-item {
                font-size: $xsmall;
            }
        }
        .hechoPor {
            padding: 10px;
            font-size: $xxsmall;
            text-align: center;
            background-color: $marron;
            color: $blanco;
        }
    }

    .container-fluid {
        .footerBootstrap {
            background-color: $mostaza;
            padding: 5px 70px 10px 70px;
            margin-top: 60px;
            .footerBootstrap__inicioFooter {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .footerBootstrap__itemFooter {
                padding-top: 30px;
                list-style-type: none;
                font-weight: 400;
                .estiloWidth {
                    font-weight: 600;
                }
            }
        }
    }

    .container{
        background-color: $blanco;
        
        @mixin etiquetas ($color, $tamanio, $alineacion, $grosor, $margin){
            color: $color;
            font-size: $tamanio;
            text-align: $alineacion;
            font-weight: $grosor;
            margin: $margin;
        }
        h1 {@include etiquetas($bordo, $xlarge, center, 600, 30px) }
        h2 {@include etiquetas($marron, $large, left, 500, 20px)}
        h3 {@include etiquetas($rosado, $medium, left, 500, 25px 0px 0px 20px)}
        h4 {@include etiquetas($rosado, $small, left, 500, 20px 0px)}
        p {@include etiquetas($negro, $xsmall, justify, 400, 10px)}
        p {text-indent: 20px;}

        @mixin listas ($color, $tamanio, $grosor, $estiloLista, $margin){
            color: $color;
            font-size: $tamanio;
            font-weight: $grosor;
            list-style-type: $estiloLista;
            margin: $margin;
        }
        .listaSubtitulo {@include listas($rosado, $small, 500, square, 0px)}
        .listaContenido { @include listas($negro, $xsmall, 400, square, 10px 0px)}

        /* Sección index */

        .caractIndex {
            text-align: center;
        }

        .imagenesJoseph {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .imagenesJoseph__imagen {
                width: 70%;
                height: 70%;
                margin: 20px 20px 0px 20px;
            }
        }

        .beneficiosMetodo {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .beneficiosMetodo__consejo {
                background-color: $mostaza;
                text-align: center;
                letter-spacing: 2px;
                word-spacing: 4px;
                margin: 30px;
                transform: rotate(8deg);
            }
        }

        /* Sección servicios_que_se_brindan */

        .imgMetodo {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 20px 0px;
            justify-content: space-around;

            .imgMetodo__imgServicio {
                transition: 1s;
            }
    
            .imgMetodo__imgServicio:hover {
                transform: scale(1.2);
            }
    
            .imgMetodo__imgCircuito {
                transition: 1s;
            }
    
            .imgMetodo__imgCircuito:hover {
                transform: scale(1.2);
            }
        }

        /* Sección nuestros_horarios */

        .tabla {
            border: solid 2px $negro;
            text-align: center;
            font-size: $xsmall;

            .tabla__encabezadoTabla {
                @extend .tabla;
                font-size: $medium;
                color: $rosado;
            }
        }
    }
    
}