/* Import de archivos con definición de variables */

@import "colores";
@import "tamanios";

html, body{
width:100%;
overflow-x:hidden;
}

body {

    background-image: linear-gradient(to bottom, $fondo, $blanco);

    @mixin etiquetas ($color, $tamanio, $alineacion, $grosor, $margin){
        color: $color;
        font-size: $tamanio;
        text-align: $alineacion;
        font-weight: $grosor;
        margin: $margin;
    }
    h1 {@include etiquetas($rojoOscuro, $xlarge, center, 700, 30px); 
        font-family: 'Merienda One', cursive;}
    h2 {@include etiquetas($rojoOscuro, $large, left, 550, 20px);
        font-family: 'Merienda One', cursive;}
    h3 {@include etiquetas($rojoClaro, $medium, left, 550, 25px 0px 0px 20px);
        font-family: 'Merienda One', cursive;}
    h4 {@include etiquetas($rojoClaro, $small, left, 550, 20px 0px)}
    p {@include etiquetas($negro, $xsmall, justify, 400, 10px)}
    p {text-indent: 20px;}

    @mixin listas ($color, $tamanio, $grosor, $estiloLista, $margin){
        color: $color;
        font-size: $tamanio;
        font-weight: $grosor;
        list-style-type: $estiloLista;
        margin: $margin;
    }
    .listaSubtitulo {@include listas($rojoClaro, $small, 500, circle, 0px)}
    .listaContenido { @include listas($negro, $xsmall, 400, circle, 10px 0px)}

    .resaltado {
        font-weight: 650;
    }

    .parallax {
        /* The image used */
        background-image: url("../assets/img/panoramica.jpg");

        /* Set a specific height */
        height: 450px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /* box modeling */
        margin-bottom: 50px;

        .parallax__tituloSeccion {
            padding-top: 10%;
            text-align: center;
        }
    }

    .contenedor {
        .navbar {
            background-color: $rosado;
            font-size: $xsmall;
            .dropdown-item {
                font-size: $xsmall;
            }
        }
        .dropdown-menu {
            background-color: $rosado;
        }
    }

    .container{

        /* Sección index */

        .caractIndex {
            font-size: $small;
            text-align: center;
        }

        .imagenesJoseph {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 10px;

            .imagenesJoseph__imagen{
                margin: 20px;
                transition: 1s;
            }

            .imagenesJoseph__imagen:hover {
                transform: scale(1.2);
            }
        }

        .beneficiosMetodo {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .beneficiosMetodo__consejo {
                background-color: $rojoClaro;
                text-align: center;
                letter-spacing: 2px;
                word-spacing: 4px;
                margin: 30px;
                transform: rotate(8deg);
                transition: 1s;
            }

            .beneficiosMetodo__consejo:hover {
                transform: scale(1.2);
            }
        }

        .videoYoutube {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        /* Sección quien_soy */

        .cuadroContenedor {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 50px;
        }

        .cuadroInfo {
            font-size: $xxsmall;
            background-color: $rosado;
            border: solid 1px $negro;
            border-radius: 30px;
            margin: 30px;
            transition: 1s;
        }

        .cuadroInfo:hover {
            transform: scale(1.1);
        }

        /* Sección servicios_que_se_brindan */

        .imgMetodo {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 20px 0px;
            justify-content: space-around;

            .imgMetodo__imgServicio {
                transition: 1s;
            }
    
            .imgMetodo__imgServicio:hover {
                transform: scale(1.5);
            }
    
            .imgMetodo__imgCircuito {
                transition: 1s;
            }
    
            .imgMetodo__imgCircuito:hover {
                transform: scale(1.5);
            }
        }

        /* Sección nuestros_horarios */

        .tabla {
            width: 100%;
            border: solid 2px $negro;
            text-align: center;
            font-size: $xsmall;

            .tabla__encabezadoTabla {
                border: solid 2px $negro;
                background-color: $rosado;
                font-size: $medium;
                color: $rojoClaro;
                font-family: 'Merienda One', cursive;
            }
        }

        /* Sección contacto */

        .telefonoMail {
            display: flex;
            flex-direction: column;

            .telefonoMail__item {
                margin-bottom: 10px;
            }
        }

        .redesSociales {
            display: flex;
            flex-direction: row;

            .redesSociales__item {
                margin-right: 20px;
                transition: 1s;
            }

            .redesSociales__item:hover {
                transform: scale(1.3);
            }
        }

        form {
            font-size: $xsmall;

            .itemForm {
                margin-top: 10px;
            }
    
            .botones {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .btn {
                    padding: 10px;
                    margin: 15px;
                    background-color: $rojoClaro;
                    border: none;
                    transition: 1s;
                }

                .btn:hover {
                    transform: scale(1.3);
                }
            }
        }

        .ubicacionItem {
            margin-bottom: 15px;
        }
    }

    .container-fluid {

        .footerBootstrap {
            background-color: $rosado;
            margin-top: 60px;

            .footerBootstrap__itemFooter {
                margin-top: 25px;
                font-size: $xsmall;
                list-style-type: none;
                font-weight: 400;
                .footerBootstrap__itemFooter--tituloItem {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-weight: 600;
                    color: $negro;
                }
                .footerBootstrap__itemFooter--enlace {
                    color: $negro;
                    text-decoration: underline;
                }
            }
        }
    }

    .contenedor {
        .hechoPor {
            padding: 10px;
            font-size: $xxsmall;
            text-align: center;
            background-color: $rojoClaro;
            color: $negro;
        }
    }

    @media only screen and (min-width:768px) {

        /* Sección nuestros_horarios.html */

        .contenedorTabla {
            display: none;
        }
    }

    @media only screen and (max-width:768px) {
        
        h1 {
            font-size: $large;
            text-align: center;
        }

        h2, h3 {
            font-size: $medium;
            text-align: center;
        }

        h1, h2, h3, h4, p, .listaContenido, .listaSubtitulo {
            margin-right: 0px;
            margin-left: 0px;
        }

        .parallax {
    
            /* Set a specific height */
            height: 200px;
        }

        /* Navbar */

        .contenedor {
            .logoNav--Mobile {
                display: none;
            }
        }

        /* Sección index.html */

        .imagenesJoseph__imagen--Mobile {
            display: none;
        }

        /* Sección servicios_que_se_brindan.html */

        .imgMetodo {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 20px 0px;
            justify-content: space-around;

            .imgMetodo__imgServicio, .imgMetodo__imgCircuito {
                margin-bottom: 10px;
            }

            .imgMetodo__imgServicio--Mobile {
                display: none;
            }
        }

        /* Sección nuestros_horarios.html */

        .tabla {
            display: none;
        }

        .contenedorTabla {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .contenedorTabla__Mobile {
                width: 80%;
                border: solid 2px $negro;
                text-align: center;
                font-size: $xsmall;
    
                .contenedorTabla__Mobile--encabezadoTabla {
                    border: solid 2px $negro;
                    background-color: $rosado;
                    font-size: $medium;
                    color: $rojoClaro;
                    font-family: 'Merienda One', cursive;
                }
            }
        }

        /* Footer */
        
        .container-fluid {
            
            .footerBootstrap {
                text-align: center;
                .footerBootstrap__inicioFooter--Mobile {
                    height: 150px; 
                    width: 210px;
                }
                .footerBootstrap__itemFooter {
                    margin-top: 10px;
                }
            }
        }


    }

}